  <div class="container color-text">
    <div class="row">
      <h2 class="headline">Make your special day pop</h2>
      <p class="headline">Select your event's accent color, and we'll help you find the perfect look.</p>
    </div>
  </div>

  <div class="container color-grid" style="margin-top: 20px;">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-2">
        <a href="/catalog/products?category=all&parent-color=whites">
          <div class="box-outer one">
            <span>WHITES &#38;<br>IVORIES</span>
            <div class="box-inner"></div>
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2">
        <a href="/catalog/products?category=all&parent-color=grays">
          <div class="box-outer two">
            <span>GREYS</span>
            <div class="box-inner"></div>
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2">
        <a href="/catalog/products?category=all&parent-color=pinks">
          <div class="box-outer three">
            <span>PINKS</span>
            <div class="box-inner"></div>
          </div>
        </a>
      </div>
      <div class="color-block col-xs-4 col-sm-4 col-md-2">
        <a href="/catalog/products?category=all&parent-color=reds">
          <div class="box-outer four">
            <span>REDS</span>
            <div class="box-inner"></div>
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2">
        <a href="/catalog/products?category=all&parent-color=oranges">
          <div class="box-outer five">
          <span>ORANGES &#38;<br>CORALS</span>
            <div class="box-inner"></div>
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2">
        <a href="/catalog/products?category=all&parent-color=yellows">
          <div class="box-outer six">
            <span>YELLOWS &#38;<br>GOLDS</span>
            <div class="box-inner"></div>
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2">
        <a href="/catalog/products?category=all&parent-color=browns">
          <div class="box-outer seven">
            <span>BROWNS &#38;<br>TANS</span>
            <div class="box-inner"></div>
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2">
        <a href="/catalog/products?category=all&parent-color=greens">
          <div class="box-outer eight">
            <span>GREENS</span>
            <div class="box-inner"></div>
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2">
        <a href="/catalog/products?category=all&parent-color=turquoise">
          <div class="box-outer nine">
            <span>TURQUOISE &#38;<br>TEALS</span>
            <div class="box-inner"></div>
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2">
        <a href="/catalog/products?category=all&parent-color=blues">
          <div class="box-outer ten">
            <span>BLUES</span>
            <div class="box-inner"></div>
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2">
        <a href="/catalog/products?category=all&parent-color=purples">
          <div class="box-outer eleven">
            <span>PURPLES</span>
            <div class="box-inner"></div>
          </div>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2">
        <a href="/catalog/products?category=all&parent-color=blacks">
          <div class="box-outer twelve">
            <span>BLACK</span>
            <div class="box-inner"></div>
          </div>
        </a>
      </div>
    </div>
  </div>