<div class="row line hidden-sm hidden-xs"></div>

<div class="row step-wrapper">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="step-wrapper">
      <a href="/catalog/byt"><%= image_tag 'spree/frontend/icons/tux2.svg', class: 'step-icon'%></a>
      <h3 class="step-text">1. BUILD A TUX</h3>
      <p class="step-text">Al&#8217;s collection provides you the options to mix and match any look, according to your personal style.</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="step-wrapper">
      <a href="/events/new"><%= image_tag 'spree/frontend/icons/calendar.svg', class: 'step-icon'%></a>
      <h3 class="step-text">2. CREATE AN EVENT</h3>
      <p class="step-text">Save your build by creating an event. Your event will be saved to your account for future browsing and further customization.</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="step-wrapper">
      <a href="/measurements"><%= image_tag 'spree/frontend/icons/tape-measure.svg', class: 'step-icon'%></a>
      <h3 class="step-text">3. MEASURE &#38; FIT</h3>
      <p class="step-text">Enter your measurements with our step by step guide, or get fitted in store.</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="step-wrapper">
      <a data-toggle="modal" data-target="#aptModal" style="cursor: pointer;"><%= image_tag 'spree/frontend/icons/appointment.svg', class: 'step-icon'%></a>
      <h3 class="step-text">4. MAKE AN APPOINTMENT</h3>
      <p class="step-text">Have your Tuxedo or Suit ready to go at your nearest Al's location.</p>
    </div>
  </div>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl" style="text-align: center; margin-top: -25px; margin-bottom: 25px;">
    <a href="/catalog/byt" class="btn button-primary wedding-byt">START BUILDING</a>
  </div>
</div>