<div class="container sitemap">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-xs-12">

      <h3>About Us</h3>
        <dl>
          <dt><h4><a class="red-roll-over" href="/about">Our Story</a></h4></dt>
        </dl>
        <dl>
          <dt><h4>Help</h4></dt>
            <dd><a class="body-style-1 small red-roll-over" href="/contact/#faq-top">FAQ</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/terms-and-privacy">Privacy Policy</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/contact">Contact Us</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="about/#als-promise">Al's Promise</a></dt>
            <dd><a class="body-style-1 small red-roll-over" href="about/#about-measurement">About Measurement and Fit</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="about/#availability">Availability</a></dd>
        </dl>
        <dl>
          <dt><h4><a class="red-roll-over" href="/about/#giving-back">Giving Back</a></h4></dt>
        </dl>

      <h3>Group Offers</h3>
        <dl>
          <dd><a class="body-style-1 small red-roll-over" href="/group-offers">Group Offers</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/wedding">Weddings</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/prom">Proms</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/quinceanera">Quinceanera</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/social-event">Social Events</a></dd>
        </dl>
    </div>

    <div class="col-sm-3 col-md-3 col-xs-12">

      <h3>Browse Collection</h3>
        <dl>
          <dt><h4>Browse By Occasion</h4></dt>
            <dd><a class="body-style-1 small red-roll-over" href="/wedding/#wedding-gallery">Weddings</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/prom/#prom-gallery">Proms</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/quinceanera/#quinceanera-gallery">Quinceanera</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/social-event/#social-event-gallery">Social Events</a></dd>
          <dt><h4>Browse By Category</h4></dt>
            <dd><a class="body-style-1 small red-roll-over" href="/catalog/products">All</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/catalog/products?category=tuxedos">Tuxedos</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/catalog/products?category=suits">Suits</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/catalog/products?category=pants">Pants</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/catalog/products?category=vests">Vests</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/catalog/products?category=cummerbunds">Cummerbunds</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/catalog/products?category=shirts">Shirts</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/catalog/products?category=ties">Ties</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/catalog/products?category=shoes">Shoes</a></dd>
            <dd><a class="body-style-1 small red-roll-over" href="/catalog/products?category=studs-and-links">Studs and Links</a></dd>
        </dl>

      <h3><a class="red-roll-over" href="/locations">Locations</a></h3>
    </div>

    <div class="col-sm-3 col-md-3 col-xs-12">

      <h3>Build Your Tux</h3>
        <dl>
          <dd><a class="body-style-1 small red-roll-over" href="events/new">Create An Event</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/catalog/byt">Build A Tuxedo</a></dd>
          <dd><a data-toggle="modal" data-target="#aptModal" style="cursor: pointer;">Make An Appointment</a></dd>
        </dl>
      
      <h3>Account</h3>
        <dl>
          <dd><a class="body-style-1 small red-roll-over" href="/catalog/login">Create Account</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/catalog/account">My Account</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/catalog/account">My Events</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/measurements">My Measurements</a></dd>
        </dl>

      <h3>Services</h3>
        <dl>
       <dd><a class="body-style-1 small red-roll-over" href="http://www.alsphotography.com/" target="_blank">Photo Packages</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="http://www.alsphotography.com/Packages.aspx?Type=2" target="_blank">Video Packages</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="http://www.alsphotography.com/Packages.aspx?Type=1" target="_blank">DJ Packages</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="http://alsformalwear.carlsoncraft.com/" target="_blank">Invitations</a></dd>
        </dl>

    </div>
    <div class="col-sm-3 col-md-3 col-xs-12">
      <h3>Forms</h3>
        <dl>
          <dd><a data-toggle="modal" data-target="#aptModal" class="body-style-1 small red-roll-over" style="cursor: pointer;">Make Appointment</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/wedding/#wedding-discount">Custom Wedding Discount</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/wedding/#wedding-sweepstakes">Wedding Sweepstakes</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/prom/#school-fund">School Fundraising for Education</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/prom/#rep-form">Become a Prom Rep / Al's Representative</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/prom/#school-group)">School Group Sales</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/prom/#work-study">Prom-Rep Work Study Program</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/social-event/#social-fund">Social Event Fundraising</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/measurements">My Measurements</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/out-of-town-measurements">Out of Town Measurements</a></dd>
          <dd><a class="body-style-1 small red-roll-over" href="/cap">Corporate Affinity Program</a></dd>
        </dl>
    </div>
  </div>
</div>