@import 'colors';

$xxsmall-break: 320px;
$xsmall-break: 480px;
$small-break: 768px;
$medium-break: 992px;
$large-break: 1200px;


@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

///////////////////////////////////
* {
  margin: 0;
}

html,
body {
  //height: 100%;
}

@media (min-width: $medium-break) {
  .col-lg-18 {
    float: left;
    width: 12.5%;
    display: inline-block;
  }
}

@media (min-width: $small-break) and (max-width: $medium-break) {
  .col-md-18 {
    float: left;
    width: 12.5%;
    display: inline-block;
  }
}  

.col-xs-15 {
  float: left;
  width: 25%;
  display: inline-flex;
}

.col-xs-25 {
  float: left;
  width: 40%;
  display: inline-flex;
}

.col-xs-35 {
  float: left;
  width: 60%;
  display: inline-flex;
}

.col-xs-45 {
  float: left;
  width: 80%;
  display: inline-flex;
}

@media (min-width: $small-break) {
  .col-sm-15 {
    float: left;
    width: 20%;
    display: inline-flex;
  }

  .col-sm-25 {
    float: left;
    width: 40%;
    display: inline-flex;
  }

  .col-sm-35 {
    float: left;
    width: 60%;
    display: inline-flex;
  }

  .col-sm-45 {
    float: left;
    width: 80%;
    display: inline-flex;
  }
}

@media (min-width: $medium-break) {
  .col-md-15 {
    float: left;
    width: 20%;
    display: inline-flex;
  }

  .col-md-25 {
    float: left;
    width: 40%;
    display: inline-flex;
  }

  .col-md-35 {
    float: left;
    width: 60%;
    display: inline-flex;
  }

  .col-md-45 {
    float: left;
    width: 80%;
    display: inline-flex;
  }
}

@media (min-width: $large-break) {
  .col-lg-15 {
    float: left;
    width: 20%;
    display: inline-flex;
  }

  .col-lg-25 {
    float: left;
    width: 40%;
    display: inline-flex;
  }

  .col-lg-35 {
    float: left;
    width: 60%;
    display: inline-flex;
  }

  .col-lg-45 {
    float: left;
    width: 80%;
    display: inline-flex;
  }
}


span {
  transition: all .3s ease-in-out;
}

ul {
  list-style-type: none;
  padding: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

.no-pad {
  padding: 0;
}

.no-pad-right {
  padding-right: 0;
}

.no-pad-left {
  padding-left: 0;
}

.glyphicon {
  font-size: 20px;
}

a {
  color: $black;

  &:hover {
    color: $grey-light;
    text-decoration: none;

    &.body-style-2 {
      color: $black;
      text-decoration: underline;
    }
  }
}

.underlined {
  text-decoration: underline;
}

@media (max-width: 767px){

  .rwd-break {
    display: none;
  }
}
// datepicker ...
.ui-datepicker {
  background-color: #fff;
  border: 1px solid #66AFE9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102,175,233,.6);
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #2A6496;
  -webkit-transition: color 0.1s ease-in-out;
     -moz-transition: color 0.1s ease-in-out;
       -o-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1;
  margin-top: 2px;
  width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\e080";
}
.ui-datepicker .ui-icon {
  display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
     -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
       -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
  background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
  color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default;
}
a.ui-state-default {
  background: transparent !important;
  border: 0 !important;
}

#ui-datepicker-div {
  z-index: 9999999999 !important;
}

.ui-autocomplete.high-school {
  cursor: pointer;
  max-width: 400px;
}

.clear-both {
  clear: both;
}
