<div class="container">
	<div class="row">
		<div class="col-md-2">
			<div class="bottom-nav-logo left">
				<a href="/" class="nav-stuck-mini-logo"></a>
			</div>	
		</div>
		<div class="col-md-10">
			<div class="bottom-nav-row cd-nav">
				<ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
					<li class="has-children">
						<a href="#">EXPLORE COLLECTION</a>
						
						<ul class="cd-secondary-nav is-hidden">

							<li class="has-children">
								<div class="pull-left list1">
									<h4>CATEGORY</h4>

									<ul class="is-hidden cols-two">
										<li><a href="/catalog/products?category=tuxedos">TUXEDOS</a></li>
										<li><a href="/catalog/products?category=suits">SUITS</a></li>
										<li><a href="/catalog/products?category=pants">PANTS</a></li>
										<li><a href="/catalog/products?category=vests">VESTS</a></li>
										<li><a href="/catalog/products?category=cummerbunds">CUMMERBUNDS</a></li>
										<li><a href="/catalog/products?category=shirts">SHIRTS</a></li>
										<li><a href="/catalog/products?category=ties">TIES</a></li>
										<li><a href="/catalog/products?category=shoes">SHOES</a></li>
										<li><a href="/catalog/products?category=studs-and-links">STUDS &amp; LINKS</a></li>
										<li><a href="/catalog/products?category=all">BROWSE ALL</a></li>
									</ul>
								</div>

								<div class="pull-left list2">
									<h4>OCCASIONS</h4>

									<ul class="is-hidden">
										<li><a href="/wedding">WEDDING</a></li>
										<li><a href="/prom">PROM / FORMAL</a></li>
										<li><a href="/social-event">SOCIAL EVENTS</a></li>
										<li><a href="/quinceanera">QUINCEAÑERA</a></li>
									</ul>
								</div>

								 <div class="explore-col">
								 	<a href="/catalog/products?category=all" class="feature btn button-primary white">BROWSE ALL</a>
								 </div>

							</li>
						</ul>
						
					</li>

					<li><a href="/byt">BUILD YOUR TUX</a></li>

					<li><a href="/about">OUR STORY</a></li>

					<li class="has-children">
						<a href="#">SERVICES</a>
						
						<ul class="cd-secondary-nav is-hidden">

							<li class="has-children">
								<div class="pull-left list-services">
									<ul class="is-hidden">
										<li><a target="_blank" href="http://www.alsphotography.com/">PHOTO PACKAGES</a></li>
										<li><a target="_blank" href="http://www.alsphotography.com/Packages.aspx?Type=2">VIDEO PACKAGES</a></li>
										<li><a target="_blank" href="http://www.alsphotography.com/Packages.aspx?Type=1">DJ PACKAGES</a></li>
										<li><a target="_blank" href="http://alsformalwear.carlsoncraft.com/">INVITATIONS</a></li>
									</ul>
								</div>
								<div class="explore-inv">
									<button value="http://alsformalwear.carlsoncraft.com/" onClick="javascript: window.open('http://alsformalwear.carlsoncraft.com/', '_blank');" class="button-primary">EXPLORE INVITATIONS</button>
								</div>
							</li>
						</ul>
						
					</li>
				</ul> 
			</div>
			<div class="mobile-searchHolder hidden-sm hidden-xs">
				<a class="search-trigger" href="#mobile-input-search">Search Collectionh<span></span></a>
			</div>

		</div>
	</div>
</div>
<div id="mobile-input-search" class="mobile-input-search">
	<form class="keyword-search-form">
		<input id="keyword-search" type="search" placeholder="Search Collection">
	</form>
</div>

<!--<div class="container">	
	
	<div class="bottom-nav-search right">
		<span class="glyphicon glyphicon-search"></span>
	</div>	
</div>-->

