<footer>
	<div class="container no-pad">
		<div class="footer-top-container col-lg-12 col-md-12">
			<div class="col-md-8 col-sm-12 footer-newsletter-container">
				<h2 class="white">SIGN UP FOR OUR NEWSLETTER</h2>
				<p class="white-serif-footer">Sign up for our newsletter and be the first to know about exclusive deals...</p>
				<div class="footer-newsletter-form-container">	
					<div id="mc_embed_signup">
						<form action="//alsformalwear.us10.list-manage.com/subscribe/post?u=89128fa2ac9c1bc81df9757df&amp;id=3a2a962408" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" onsubmit="ga('send', 'event', 'Navigation','New Newsletter Sign Up', 'Newsletter');" novalidate>
					    <div id="mc_embed_signup_scroll">
								<div class="mc-field-group">
									<input class="secondary email combo required" type="email" name="EMAIL" value=" " placeholder="EMAIL ADDRESS" id="mce-EMAIL">
									<input class="button-primary combo button" type="submit" value="SIGN UP" name="subscribe" id="mc-embedded-subscribe">
								</div>

								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>

								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_89128fa2ac9c1bc81df9757df_3a2a962408" tabindex="-1" value=""></div>
					    </div>
						</form>
					</div>
					<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
				</div>	
			</div>

			<div class="footer-blog-wrapper hidden-xs">	
				<div class="footer-blog col-md-4 col-sm-6 col-xs-12">
					<div class="">
						<h2 class="white">AL'S CORNER</h2>
						<p class="white-serif-footer">Check out how we help you look your best.</p>
						<a target="_blank" href="http://info.alsformalwear.com/" class="footer-blog button-primary btn"><%= image_tag('spree/frontend/heart-20x21.png', :alt => 'small heart', class: 'blog-heart') %>READ THE LATEST POST</a>
					</div>
				</div>
			</div>	
		</div>

		<div class="footer-hr hidden-xs"></div>

		<div class="small-out-of-town no-pad hidden-lg hidden-md col-sm-6 hidden-xs">
			<div class="col-sm-12">
				<p class="list-header">out of town?</p>
				<p class="white-serif-footer">You or your guests can't make it to our store? No problem!</p>
				<a class="white-serif-footer underlined" href="/out-of-town-measurements">Submit Your Measurements Here</a>
			</div>
		</div>

		<div class="footer-columns-container col-lg-12 col-md-12 hidden-xs">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="no-pad-left col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="">
						<ul class="no-pad">
							<li class="list-header">help</li>
							<li class="list-items">
								<a href="/contact">Contact Us</a>
							</li>
							<li class="list-items">
								<a href="/terms-and-privacy">Privacy Policy</a>
							</li>
							<!--<li class="list-items">
								<a href="">Careers</a>
							</li>-->
							<li class="list-items">
								<a href="/contact#faq-top">FAQ</a>
							</li>
							<li class="list-items">
								<a href="/sitemap">Sitemap</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="no-pad-left col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="">
						<ul class="no-pad">
							<li class="list-header">account</li>
							<li class="list-items">
								<a href="/catalog/login">Create an Account</a>
							</li>
							<li class="list-items">
								<a href="/measurements">My Measurements</a>
							</li>
							<!-- <li class="list-items">
								<a href="/catalog/account">My Wishlist</a>
							</li> -->
							<!--<li class="list-items">
								<a href="/catalog/account">My Appointments</a>
							</li>-->
							<li class="list-items">
								<a href="/catalog/account">My Events</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="no-pad-left col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="">
						<ul class="no-pad">
							<li class="list-header">general</li>
							<li class="list-items">
								<a href="/locations">Locations</a>
							</li>
							<li class="list-items">
								<a href="/about">Our Story</a>
							</li>
							<li class="list-items">
								<a href="/group-offers">Group Offers</a>
							</li>
							<li class="list-items">
								<a href="/discount">Discounts</a>
							</li>
							<li class="list-items">
								<a href="http://info.alsformalwear.com/careers" target="_blank">Careers</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="no-pad-left col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="">
						<ul class="no-pad">
							<li class="list-header">follow us</li>
							<li class="list-items">
								<a target="_blank" href="https://www.facebook.com/alsformalwear/">Facebook</a>
							</li>
							<li class="list-items">
								<a target="_blank" href="https://twitter.com/alsformalwear/">Twitter</a>
							</li>
							<li class="list-items">
								<a target="_blank" href="https://www.instagram.com/alsformalwear/">Instagram</a>
							</li>
							<li class="list-items">
								<a target="_blank" href="https://www.pinterest.com/alsformalwear/">Pinterest</a>
							</li>
						</ul>
					</div>
				</div>
			</div>	
			<div class="col-md-4 hidden-sm hidden-xs">
				<div class="no-pad-left col-lg-11 col-md-12">
					<div class="">
						<p class="list-header">out of town?</p>
						<p class="white-serif-footer">You or your guests can't make it to our store? No problem!</p>
						<a class="white-serif-footer underlined" href="/out-of-town-measurements">Submit Your Measurements Here</a>
					</div>
				</div>
			</div>
		</div>
	
		<div class="mobile-footer-columns-container no-pad hidden-xs hidden-lg hidden-md hidden-sm col-xs-12">
			<div class="mobile-footer-column first">
				<h5 class="mobile-nav-menu white">HELP</h5>
			</div>
			<div class="mobile-footer-column">
				<h5 class="mobile-nav-menu white">MY ACCOUNT</h5>
			</div>
			<div class="mobile-footer-column">
				<h5 class="mobile-nav-menu white">GENERAL</h5>
			</div>
			<div class="mobile-footer-column">
				<h5 class="mobile-nav-menu white">CONTACT US</h5>
			</div>
			<div class="mobile-footer-column last">
				<h5 class="mobile-nav-menu white">OUT OF TOWN</h5>
			</div>
		</div>



		<div class="col-xs-12 hidden-sm hidden-lg">
			<ul class="social-icons">
				<li class="social-item">
					<a target="_blank" href="https://www.facebook.com/alsformalwear/" class="fb">Facebook</a>
				</li>
				<li class="social-item">
					<a class="instagram" target="_blank" href="https://www.instagram.com/alsformalwear/" >Instagram</a>
				</li>
				<li class="social-item">
					<a class="twitter" target="_blank" href="https://twitter.com/alsformalwear/" >Twitter</a>
				</li>
				<li class="social-item">
					<a class="pinterest" target="_blank" href="https://www.pinterest.com/alsformalwear/" >Pinterest</a>
				</li>
			</ul>
		</div>

	</div>
	<div class="container">
		<div class="copyright col-lg-12">
			<span>Copyright © <%= Time.new.year %> Al’s Formal Wear. All Rights Reserved.</span>
			<a class="underlined" href="/terms-and-privacy"> Privacy Policy</a>
		</div>
	</div>
</footer>