@import '../../frontend/colors';


// $black:          #000;
// $white:          #fff;
// $red:            #dc393f;
// $red-shade-1:    #e9a8aa;
// $red-shade-2:    #e48286;
// $red-shade-3: 	 #c3797c;
// $red-shade-4:    #956e6f;
// $red-shade-5:	   #EE3D42;
// $red-shade-6:    #d93a43;
// $green-success:  #63A31D; 
// $grey-light:     #d4d4d4;
// $grey-light-2:	 #c1c1c1;
// $grey-light-3: 	 #D8D8D8;
// $grey-middle:    #a0a0a0;
// $grey-dark:      #747474;
// $grey-light-nav: #f7f7f7;
// $grey-dark-2: 	 #9B9B9B;
// $grey-dark-3:    #979797;

$color-2:                        $red;     // Green
$color-3:                        $black;     // Light Blue
$color-4:                        $grey-middle;           // Dark Blue
$color-5:                        $red-shade-6 ;    // Red
