<%= render :partial => 'spree/shared/login_bar' %>
<!-- <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15 link-to-cart" id="link-to-cart" data-hook>
	<div class="top-nav-link-wrapper cart">
		<div class="nav-icon-wrapper">
	  	<%# image_tag('spree/frontend/cart-icon.png', :alt => 'cart icon', class: 'nav-icon cart-icon') %>
		</div>
	  <h6 class="nav inline-block"><%# link_to Spree.t(:cart), '/catalog/cart', class: 'hidden-sm hidden-xs cart-link' %></h6>
	  <noscript>
	  	<%# link_to Spree.t(:cart), '/cart' %>
	  </noscript>
	  &nbsp;
	</div>
</div>
<script>Spree.fetch_cart('<%= j cart_link_url %>')</script> -->