<div id="successModal" class="modal fade" role="dialog">
  <div class="modal-dialog success-modal-dialog">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 success-modal modal-body">
      <p class="successModalMessage text-center success"></p>
    </div>
  </div>
</div>