<header id="header">
	<%= render :partial => 'spree/shared/promo_nav' %>
	<div class="hidden-md hidden-lg mobile bottom-nav-row-wrapper menu-closed">
		<%= render :partial => 'spree/shared/mobile_nav' %>
	</div>
	<%= render :partial => 'spree/shared/nav_404' %>
	<div class="hidden-sm hidden-xs desktop bottom-nav-row-wrapper">	
		<%= render :partial => 'spree/shared/bottom_nav' %>
	</div>
</header>