<div class="mainMenu">
  <a class="menuHolder">
    <div class="menuBtn">Menu<span></span></div>
  </a>
</div>
<a href="/" class="logo-mobile"></a>

<div class="mobileNav">
	<%= render :partial => 'spree/shared/mobile_nav_menu' %>
</div>

<div class="mobile-searchHolder">
	
		<a class="search-trigger" href="#mobile-input-search">Search<span></span></a>
	
</div>

<div id="mobile-input-search" class="mobile-input-search">
		<form class="mobile-keyword-search-form">
			<input id="search" type="search" placeholder="Search Collection...">
		</form>
</div>

<div class="mob-overlay"></div>
