<ul class="accordion-menu animated">
		<li class="has-children">
			<input type="checkbox" name ="group-1" id="group-1">
			<label for="group-1">EXPLORE COLLECTION</label>
    		<ul class="col-sm-12 col-xs-12 no-pad">
          <li class="section-label">CATEGORY</li>
          <li><a class="red-mobile-focus" href="/catalog/products?category=tuxedos">TUXEDOS</a></li>
          <li><a class="red-mobile-focus" href="/catalog/products?category=shirts">SHIRTS</a></li>
          <li><a class="red-mobile-focus" href="/catalog/products?category=suits">SUITS</a></li>
          <li><a class="red-mobile-focus" href="/catalog/products?category=ties">TIES</a></li>
    			<li><a class="red-mobile-focus" href="/catalog/products?category=pants">PANTS</a></li>
          <li><a class="red-mobile-focus" href="/catalog/products?category=shoes">SHOES</a></li>
          <li><a class="red-mobile-focus" href="/catalog/products?category=vests">VESTS</a></li>
          <li><a class="red-mobile-focus" href="/catalog/products?category=studs-and-links">STUDS &amp; LINKS</a></li>
          <li><a class="red-mobile-focus" href="/catalog/products?category=cummerbunds">CUMMERBUNDS</a></li>
          <li><a class="red-mobile-focus" href="/catalog/products?category=all">BROWSE ALL</a></li>
    		</ul>
        <ul class="col-sm-12 col-xs-12 no-pad">
          <li class="section-label">OCCASION</li>
          <li><a class="red-mobile-focus" href="/wedding">WEDDING</a></li>
          <li><a class="red-mobile-focus" href="/prom">PROM / FORMAL</a></li>
          <li><a class="red-mobile-focus" href="/social-event">SOCIAL EVENTS</a></li>
          <li><a class="red-mobile-focus" href="/quinceanera">QUINCEAÑERA</a></li>
        </ul>
		</li>
		<li class="">
			<a class="red-mobile-focus" href="/byt">BUILD YOUR TUX</a>
		</li>
		<li class="">
			<a class="red-mobile-focus" href="/about">OUR STORY</a>
		</li>
		<li class="has-children">
			<input type="checkbox" name ="group-4" id="group-4">
			<label for="group-4">SERVICES</label>
			<ul>
				<li><a target="_blank" href="http://www.alsphotography.com/">PHOTO PACKAGES</a></li>
				<li><a target="_blank" href="http://www.alsphotography.com/Packages.aspx?Type=2">VIDEO PACKAGES</a></li>
				<li><a target="_blank" href="http://www.alsphotography.com/Packages.aspx?Type=1">DJ PACKAGES</a></li>
				<li><a target="_blank" href="http://alsformalwear.carlsoncraft.com/">INVITATIONS</a></li>
			</ul>
		</li>
		<li class="item-dark">
			<a class="red-mobile-focus location" href="/locations">LOCATIONS</a>
		</li>
    <li class="item-dark">
      <a class="red-mobile-focus bowtie" href="/catalog/account">MY ACCOUNT</a>
    </li>
		<li class="item-dark">
			<a class="red-mobile-focus phone" href="tel:8004608500">1 800 460 8500</a>
		</li>
    <li class="item-dark">
      <a class="red-mobile-focus red-mobile-focus faq" href="/contact#faq-top">FAQs</a>
    </li>
		<li class="item-dark" data-toggle="modal" data-target="#aptModal">
			<a href="#0" class="red-mobile-focus calendar">APPOINTMENTS</a>
		</li>
		<li class="item-dark">
      <a class="red-mobile-focus coupon" href="/discount">DISCOUNTS</a>
    </li>
		<li class="item-dark">
      <a class="red-mobile-focus tag" href="/group-offers">GROUP OFFERS</a>
    </li>
    <li class="item-dark">
      <a class="red-mobile-focus oot-mobile" href="/out-of-town-measurements">OUT OF TOWN MEASUREMENTS</a>
    </li>
		<li class="item-dark">
			<a class="red-mobile-focus heart" href="http://info.alsformalwear.com/" target="_blank">AL'S CORNER BLOG</a>
		</li>
</ul> 
