<div id="occassionSuccessModal" class="modal fade" role="dialog">
  <div class="modal-dialog success-modal-dialog">
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 success-modal modal-body">
      <p class="successModalMessage text-center success"></p>
    	<a id="occasion-success-button" href="#" class="button-secondary btn event-success-button">View Event Details</a>
    </div>
  </div>
</div>