  <div class="col-md-12 col-sm-12 no-pad">
    <div class="placeholder-slide"></div>
    <%= f.email_field :email, :class => 'username-field signup moving-placeholder', autocomplete: "false", placeholder: "EMAIL ADDRESS" %>
  </div>
  <div class="col-md-12 col-sm-12 no-pad">
    <div class="placeholder-slide"></div>
    <%= f.password_field :password, :class => 'password-field signup moving-placeholder', placeholder: "PASSWORD" %>
  </div>
