<div class="leads-wrapper" id="images" >
	<% if @image_contents.present? %>
	  <table class="leads" >
	  	<thead class="leads-table-header">
	  		<tr>
					<th>
						<div class="inner-th-wrapper">
							Description
						</div>
					</th>
					<th>
						<div class="inner-th-wrapper">
							Image
						</div>
					</th>
					<th>
						<div class="inner-th-wrapper">
							Alt Tag
						</div>
					</th>
					<th>
						<div class="inner-th-wrapper delete">
							Edit Image?
						</div>
					</th>
	  		</tr>
	  	</thead>
	    <% @image_contents.each do |content| %>
	    	<tbody>
	    		<tr>
						<td> <%= content.description%> </td>
						<td><%= content.image? ? (image_tag "#{content.image.url(:original)}", alt: content.alt_tag, width: '200px') : "No image has been selected." %></td>
						<td> <%= content.alt_tag %> </td>
						<td><%=link_to "Edit", edit_admin_content_path(content), class: 'button cms-button' %></td>	
	    		</tr>
	    	</tbody>
			<% end %>  
	  </table>
	<% else %>
		<div class="col-md-12 col-lg-12">
			<p>there are no images to manage for this page</p>	
		</div>
	<% end %>  
</div>